{% extends 'home/base.html' %}

{% block CONTENIDO %}
    <h1>
        ¡CONTACTANOS!<br>
       <img width="40" height="25" src="https://static.vecteezy.com/system/resources/previews/017/177/709/non_2x/phone-icon-symbol-on-transparent-background-free-png.png" alt="...">
       <h5>1160033896</h5>
       Seguinos en nuestras redes
       <br><a title="Instagram" href="https://www.instagram.com/nicolasiaria/"><img width="50" height="30" class="img-fluid rounded mb-4 mb-lg-0" src="https://img.freepik.com/vector-premium/icono-aplicacion-instagram-logotipo-redes-sociales-ilustracion-vectorial_277909-403.jpg" alt="..."/></a>
       <a title="Twitter" href="https://twitter.com/FloresIari53250"><img width="50" height="30" class="img-fluid rounded mb-4 mb-lg-0" src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png" alt="..."/></a>
       
    </h5>
       
    <h1 class="text-center">
        <br><a class="btn btn-outline-info" href="{% url 'home:index' %}">Volver al inicio</a>
    </h1>
{% endblock CONTENIDO %}