{% extends 'home/base.html' %}

{% block CONTENIDO %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.clarin.com/img/2013/04/21/BkgbaAm1Nx_1256x620.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Kiosco Chocolatin</h1>
            <p>Un lugar para encontrar todas tus golosinas preferidas.</p>
            <a class="btn btn-primary" href="{% url 'producto:index' %}">Productos y Categorias</a>
        </div>
    </div>
    <!-- Call to Action-->
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card w-150">
                    <div class="card-body">
                        <h2 class="card-title">¡Semana de la dulzura!</h2>
                        <p class="card-text">Las mejores ofertas para regalar dulzura.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cliente:index' %}">Ir a</a></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Sucursales</h2>
                    <p class="card-text"> ¡Conoce nuestras sucursales y encontra la mas cercana!</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'sucursales:index' %}">Ir a</a></div>
            </div>
        </div>
    </div>  
{% endblock CONTENIDO %}