{% extends 'home/base.html' %}

{% block CONTENIDO %}

    <h1>Productos</h1>

    {% block CONTENIDO_PRODUCTO %}
        <h3>Productos</h3>
        <a href="{% url 'producto:producto_list' %}">¡PRODUCTOS!</a><br>
        <a href="{% url 'producto:producto_create' %}">Crear producto.</a>
    {% endblock CONTENIDO_PRODUCTO %}

    {% block CONTENIDO_CATEGORIA_PRODUCTO %}
        <h3>Categorias de productos</h3>
        <a href="{% url 'producto:producto_categoria_list' %}">Listar</a><br>
        <a href="{% url 'producto:producto_categoria_create' %}">Crear categoria para productos.</a><br>
    {% endblock CONTENIDO_CATEGORIA_PRODUCTO %}
        
    <a href="{% url 'home:index' %}">Volver al inicio</a>
{% endblock CONTENIDO %}
